.comment {
    padding: 1em 1em 1em 1em;
    border: solid thin #ccccff;
    background: #b7d0b7;
    font-family: Georgia, sans-serif;
    margin-bottom: .5em;
}

.commentHeader {
    text-align: right;
    font-style: none;
    border-bottom: thin solid black;
    margin-bottom: .4em;
}

.commentBody {
    
}

